@import url('https://fonts.googleapis.com/css?family=Bangers&family=Roboto&display=swap:100,200,300,400,500,600,700');

/*    --------------------------------Header   */

header {
    margin: 0;
}

/*    ------------------------Navigation Bar   */

.navbar-dark .navbar-brand {
    font-family: 'Bangers', sans-serif;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: -3px;
    color: #f9d302;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    align-self: auto;
}

.navbar-dark .navbar-nav .nav-link  {
    font-family: 'Bangers', sans-serif;
    color: #f9d302;
    background-color:  #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    font-size: 25px;
}

hvr-shutter-in-verticle::before .active>.nav-link {
    background-color: #e6b516;
}

.hvr-shutter-in-vertical:before {
    background-color: #569d44;
}

.navbar-toggler {
    background-color: #e6b516;
    color: #569d44;
}

/*    ------------------------Navigation Background Colour */

a.nav-link.hvr-shutter-in-verticle::before { 
    background-color: #569d44; 
}

/* find method not using important */
.bg-warning {
    background-color: #569d44!important;
} 

/*    ------------------------Page Headings */

h1 {
    font-family: "Bangers" , sans-serif;
    font-size: 4em;
    letter-spacing: -3px;
    color:#f9d302;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    text-align: center;
  /*  text-shadow: 2px 2px 2px #000000; */
    margin-top: 20px;
}

h2 {
    font-family: "robto" , sans-serif;
    font-size: 2em;
    text-align: center;
    color:#000000;
}

h6 {
    font-family: "Robto" , sans-serif;
    font-size: 20px;
    color: #f9d302;
}
/*    ------------------------Card image size   */

img {
    max-width: auto;
    max-height: 25%;
}

/*    ------------------------Card buttons-- lose as buttons not require 21/04/20   */

/*button[type="strength"] {
    font-family: "Bangers" , sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    padding-left: 0%;
    height: 25px;
    width: auto;
    border: 2px solid black;
    float: left;
}

button[type="weight"] {
    font-family: "Bangers" , sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    padding-left: 0%;
    height: 25px;
    width: auto;
    border: 2px solid black;
    float: left;
}
button[type="power"] {
    font-family: "Bangers" , sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    padding-left: 0%;
    height: 25px;
    width: auto;
    border: 2px solid black;
    float: left;
}

button[type="age"] {
    font-family: "Bangers" , sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    padding-left: 0%;
    height: 25px;
    width: auto;
    border: 2px solid black;
    float: left;
}

button[type="magic"] {
    font-family: "Bangers" , sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    padding-left: 0%;
    height: 25px;
    width: auto;
    border: 2px solid black;
    float: left;
}*/

/*    ------------------------Footer   */

footer {
    font-family: "bangers" , sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #569d44;
    padding: 12px;
    color:#fff;
    min-height: 100px;
    min-width: 100%;
    bottom: 0; 
}

.copyright {
    font-family: "bangers";
    text-align: center;
    padding: 20px;
    color:#f9d302;  
}

/*    ------------------------ Web form   */

.contact-heading {
    font-family: "Roboto" , sans-serif;
    margin-top: -100px;
}

.center-form {
        
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

button[type="submit"] {
    font-family: "Bangers" , sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f9d302;
    background-color: #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
}*/

/*    ------------------------ Media Queries  */