@import url('https://fonts.googleapis.com/css?family=Bangers&family=Roboto&display=swap:100,200,300,400,500,600,700');

/*    --------------------------------Header   */

header {
    margin: 0;
}

/*    ------------------------Navigation Bar   */

.navbar-dark .navbar-brand {
    font-family: 'Bangers', sans-serif;
    font-size: 5em;
    font-weight: 100;
    letter-spacing: -3px;
    color: #f9d302;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
  /*  filter: contrast(80%); */
}

.navbar-dark .navbar-nav .nav-link  {
    font-family: 'Bangers', sans-serif;
    color: #f9d302;
    background-color:  #569d44;
    text-shadow: 1px 1px 1px red, 0 0 1px darkblue;
    font-size: 25px;
}

hvr-shutter-in-verticle::before .active>.nav-link {
    background-color: #e6b516;
}

.hvr-shutter-in-vertical:before {
    background-color: #569d44;
}

/*    ------------------------Navigation Background Colour */

a.nav-link.hvr-shutter-in-verticle::before { 
    background-color: #569d44; 
}

/* find method not using important */
.bg-warning {
    background-color: #569d44!important;
} 

/*    ------------------------Page Headings */

h1 {
    font-family: "Bangers" , sans-serif;
    font-size: 4em;
    letter-spacing: -3px;
    color:#f9d302;
    text-shadow: 1px 1px 1px grey, 0 0 1px black;
    text-align: center;
  /*  text-shadow: 2px 2px 2px #000000; */
    margin-top: 20px;
}

h2 {
    font-family: "robto" , sans-serif;
    font-size: 2em;
    text-align: center;
    color:#000000;
}
/* currently not required
h3 {
    font-family: "Bangers" , sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 30px;
    text-align: center;
    color: #000000;
}

h4 {
    font-family: "Bangers" , sans-serif;
    line-height: 2em;
    text-align: center;
    color:#000000;
    font-size: 50px;
    margin-top: 30px;
}


h5 {
    font-family: "Bangers" , sans-serif;
    font-size: 24px;
    color: #000000;
    text-align: center;

} */

h6 {
    font-family: "Robto" , sans-serif;
    font-size: 20px;
    color: #f9d302;
}
/*    ------------------------Card image size   */

img {
    max-width: auto;
    max-height: 25%;
}

/*    ------------------------Footer   */

footer {
    font-family: "bangers" , sans-serif;
    font-size: 20px;
    text-align: center;
    /* margin-top: 20; */
    background-color: #569d44;
    padding: 12px;
    color:#fff;
    min-height: 100px;
    min-width: 100%;
    bottom: 0; 
}


.copyright {
    font-family: "bangers";
    text-align: center;
    padding: 20px;
    color:#f9d302;
    
}


/*    ------------------------ Web form   */

.contact-heading {
    font-family: "Roboto" , sans-serif;
    margin-top: -100px;
}

.center-form {
        
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #006db3;
    background-color: #f9d302;
}*/

/*    ------------------------ Media Queries for form  

@media(min-width: 991px) {
    .center-form {
     padding-top: 10px;
     min-height: 240px;
     margin: 0 auto;
     max-width: 50%;
        
}
}

@media(min-width: 1101px) {
    #portfolio img {
     max-width: 75%;
        
}
}

@media(min-width: 935px) {
    #portfolio img {
     max-width: 25%;
        
}
}


.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

/*    ------------------------ My name title   */

.section-heading {
    font-family: 'Bangers' , sans-serif;
    text-align: center;
}

